<p>
  <strong>Description:</strong>
  <%= @prize.description %>
</p>

<p>
  <strong>Existences:</strong>
  <%= @prize.existences %>
</p>

<%= link_to 'Edit', edit_prize_path(@prize) %> |
<%= link_to 'Back', prizes_path %>
